.JobEditor-headerline {
  display: grid;
  grid-template-columns: [header] 1fr [save] 40px [play] 40px [stop] 40px;
}

.JobEditor-header {
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 32px;
}

.JobEditor-savebutton,
.JobEditor-playbutton,
.JobEditor-stopbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 50%;
}

.JobEditor-button--enabled {
  opacity: 100%;
}

.JobEditor-body {
  padding-right: var(--default-spacing);
}

.JobEditor-body .DraftEditor-editorContainer {
  border: 1px solid rgb(91, 98, 113);
  padding: 10px;
}

.JobEditor-body .public-DraftEditor-content {
  font-family: monospace;
  min-height: 150px;
}
