.RobotStatus-container {
  margin: var(--default-spacing) 0;
  display: grid;
  grid-template-columns: [facts] 1fr [map] 168px;
}

.RobotStatus-label,
.RobotStatus-registers,
.RobotStatus-orientation,
.RobotStatus-jobname {
  display: inline;
}

.RobotStatus-label {
  font-weight: bold;
}
