/*
    variables and calcluations seem to interact with
    "margin: auto" in creepy ways, so we repeat the
    same values a lot here.
*/

.App-header {
  margin: var(--default-spacing) auto 0 auto;
  width: calc(448px + var(--default-spacing) + 384px);
}

.App-universe {
  display: grid;
  width: calc(448px + var(--default-spacing) + 384px);
  grid-template-columns: [controls] 448px [feedback] 384px;
  column-gap: var(--default-spacing);
  margin: 0 auto;
}

.App-controls {
  --column-width: 448px;
}

.App-feedback {
  --column-width: 384px;
}
